@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&family=Itim&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 1.5rem;
    border-radius: .75rem;
    background: #e0e0e0;
    height: max-content;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

}

.display {
    text-align: center;
    font-size: 7rem;
    border-radius: .20rem;
    margin-bottom: 2rem;
    color: #807f7f;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.buttons button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    padding: 1rem 0.7rem;
    border: none;
    border-radius: .5rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    cursor: pointer;
    color: #545353;
    transition: all 0.3s ease-in;
}

.buttons button:focus {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}